body{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 5% auto;
    width: 100%;
    background-color: bisque;
}
.header{
   text-align: center;
   font-size: 3em;
   line-height: 2em;
   font-weight: 700;
}
.meme-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}
.meme-title{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 2em;
    color:black;
    border-bottom: 1px solid pink;
    background-image: url('./img/plus-30.png');
    background-repeat: no-repeat;
    background-position:100%;
}
.meme{
    padding-bottom: 3%;
    display: block;
    width: 35%;
    height: 0%;
    border-bottom: 1px solid pink;
}
.meme > .meme-pic {
    margin-bottom: 5%;
    width: 80%;
    height: 0;
}
.meme-title:hover{
    color:red;
    border:none;
    background-image:url('./img/plus-30-red.png');
}
.meme-item:hover{
    height: 80vh;
}
.meme-item:hover >.meme{
    height: 70vh;
}
.meme-item:hover > .meme > .meme-pic{
    height: 100%;
}
.meme-title:active{
    color: red;
    border: none;
    background-image:url('./img/plus-30-rotate.png');
}
.meme-input{
    appearance: none;
}
:is(.meme-item):has(.meme-input:checked ){
    height: 80vh; 
}
.meme-input:checked ~ .meme-title{
    color: red;
    background-position:100%;
    border: none;
    background-image:url('./img/plus-30-rotate.png');
}
.meme-input:checked ~ .meme{
    height: 70vh;
}
.meme-input:checked ~ .meme > .meme-pic{
    height: 100%;
}



@media ( max-width: 1180px) and (min-width: 821px){
    .container{
        width: 100%;
    }
    .header{
        text-align: center;
        font-size: 3em;
        line-height: 4em;
        font-weight: 500;
     }

    .meme-title{
        font-size: 2em;
        font-weight: 300;
        line-height: 2em;
    }
    .meme{
        width: 60%;
     }
    .meme-pic{
        width: 70%;
     }
}

@media ( max-width: 1920px) and (min-width: 1181px){
    .container{
     width: 100%;
    }
    .header{
        text-align: center;
        font-size: 3em;
        line-height: 4em;
        font-weight: 500;
     }
    .meme{
        width: 50%;
     }
    .meme-pic{
        width: 60%;
     }
    .meme-title{
        font-size: 2em;
        font-weight: 300;
        line-height: 2em;
    }
    .meme-title:hover{
        cursor:pointer;
    }
}
